<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="container">
  <center>
    <div class="hero-unit">
      <h2> Sorry, our Engineers are still constructing this page. Try come back tomorrow. </h2>
        </div>
     </center>
</div>
