<center>
  <h1>News</h1>
</center>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="thumbnail">
      <%= image_tag("pic1.jpg", alt: "Ate photokape", width: "711") %>
      <div class="carousel-caption">
      <h4>Photocopy now at Php 3.50 !</h4>
      <p>Just a sample news headline and news details</p>
    </div>
    </div>
  </div>
  <div class="item">
  <div class="thumbnail">
      <%= image_tag("pic2.jpg", alt: "Foundation Week", width: "800") %>
      <div class="carousel-caption">
      <h4>College of Technology Foundation Week 2012</h4>
      <p>Just a sample news headline and news details</p>
    </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <%= image_tag("pic3.jpg", alt: "College of Tech", width: "800") %>
      <div class="carousel-caption">
      <h4>College of Technology? Or Institute of Technology?</h4>
      <p>Just a sample news headline and news details</p>
    </div>
    </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="alert alert-info">
  <p class="lead"> This Web application is for Beta Testing only. </p>
</div>
