<h1 class="hero-unit"> Sent Messages </h1>
<ul class="users">
<% @direct_messages.each do |dm| %>
  <li>
    <%= link_to gravatar_for(dm.recipient), dm.recipient %>
    <%= link_to dm.recipient.name, dm.recipient %>:
    <%= dm.content %>
    <div class="timestamp">
      Sent <%= time_ago_in_words(dm.created_at) %> ago.
    </div>

    </li>
  <% end %>
</ul>

