<% provide(:title, 'All users') %>
<hr class="alert">
<h1><font color="maroon">The College of Technology Community</font></h1>
<p class="muted" align="center">Showing all the CTzen users</p>
<hr class="alert">
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
